$base: #fafafa; //Fondo de la pag
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #01579b;
$primary-dark: #002f6c;
$primary-light: #4f83cc;
$on-primary: #ffffff;

$secondary: #0d47a1;
$secondary-dark: #002171;
$secondary-light: #5472d3;
$on-secondary: #ffffff;

$error: #B00020;
$on-error: #ffffff;

$success: #004c8c;
$on-success: #ffffff;
