<mat-nav-list>
  <a href="" mat-list-item (click)="closeMenu()">
    <mat-icon>home</mat-icon>
    <span class="navegacion-list-label">Home</span>
  </a>
  <a href="" mat-list-item (click)="closeMenu()">
    <mat-icon>login</mat-icon>
    <span class="navegacion-list-label">Inicio Sesion</span>
  </a>
  <a href="" mat-list-item (click)="closeMenu()">
    <mat-icon>how_to_register</mat-icon>
    <span class="navegacion-list-label">Registrar</span>
  </a>
  <a href="" mat-list-item (click)="closeMenu()">
    <mat-icon>contact_support</mat-icon>
    <span class="navegacion-list-label">Contacto</span>
  </a>
  <a href="" mat-list-item (click)="closeMenu()">
    <mat-icon>add</mat-icon>
    <span class="navegacion-list-label">Nuevo Producto</span>
  </a>
  <a href="" mat-list-item (click)="closeMenu()">
    <mat-icon>logout</mat-icon>
    <span class="navegacion-list-label">Salir Sesion</span>
  </a>
</mat-nav-list>
